<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Template</title>
    <link rel="stylesheet" href="../css/components/article.css">
</head>
<body>
    <article class="article">
        <h2 class="article-title"></h2>
        <img class="article-main-image" src="" alt="Main Illustration">
        <div class="article-content"></div>
        <div class="article-gallery">
            <img class="additional-image" src="" alt="Additional Image 1">
            <img class="additional-image" src="" alt="Additional Image 2">
            <img class="additional-image" src="" alt="Additional Image 3">
        </div>
    </article>
</body>
</html>